body {
  background: linear-gradient(135deg, #f2b188 0%, #c997ac 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(148, 161, 118);
  font-size: 25px;
}

#coin {
  width: 200px;
  height: auto;
}

button {
  color: rgb(9, 79, 44);
  background-color: rgb(160, 175, 128);
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
}

.button-group {
  display: flex;
  gap: 10px; /* spacing between buttons */
  justify-content: center; /* center them horizontally */
  margin-top: 15px;
}

#message {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(148, 157, 127, 0.046);
  box-shadow: 0 4px 10px rgba(241, 151, 102, 0.213);
  transition: all 0.3s ease;
}
