.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(199, 195, 123);
  font-size: 35px;
  
}

#coin {
  width: 200px;
  height: auto;
}

button {
  margin: 20px auto;
  display: block;
  color: rgb(9, 79, 44);
  background-color: rgb(219, 237, 180);
}
