/* Page background with centered layout */
body {
  background: linear-gradient(135deg, #f2b188 0%, #c997ac 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Main app container styling */
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(148, 161, 118);
  font-size: 25px;
}

/* Coin image size */
#coin {
  width: 200px;
  height: auto;
}

/* Button appearance */
button {
  color: rgb(9, 79, 44);
  background-color: rgb(160, 175, 128);
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

/* Global reset for spacing and layout consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
}

/* Button container layout */
.button-group {
  display: flex;
  gap: 10px; /* spacing between buttons */
  justify-content: center; /* center them horizontally */
  margin-top: 15px;
}

/* Message box styling */
#message {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(148, 157, 127, 0.046);
  box-shadow: 0 4px 10px rgba(241, 151, 102, 0.376);
  transition: all 0.3s ease;
}

/* Stats box styling */
.totals {
  background: #b3ac8413;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 8px;
  margin: auto;
  border: 2px solid #c6937f12;
  box-shadow: 0 6px 15px #dd98703c;
}
